:root {
  --sun: orange;
  --spring-day: rgb(197,204,153);
  --spring-night: rgb(110,119,59);
  --summer-day: rgb(103,157,200);
  --summer-night: rgb(68,129,187);
  --fall-day: rgb(200,100,0);
  --fall-night: rgb(143,71,0);
  --winter-day: rgb(160,195,223);
  --winter-night: rgb(51,108,153);
  --season: var(--fall);
  --bgColour: var(--season);
  --mnt-1-spring: rgb(68,136,68);
  --mnt-2-spring: rgb(119,187,119);
  --mnt-3-spring: rgb(76,153,76);
  --mnt-1-fall: rgb(153,76,0);
  --mnt-2-fall: rgb(191,96,0);
  --mnt-3-fall: rgb(217,108,0);
}

* {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  font: inherit;
  appearance: none;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--fall);
}

main {
  width: 100%;
  height: 350px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

#clock-ticks {
  width: 100%;
  height: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  z-index: 1;
}

#clock-ticks div {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: white;
}

#clock-ticks .main-tick {
  width: 260px;
  height: 2px;
}

#clock-ticks .mid-tick {
  width: 250px;
  height: 2px;
}

#clock-ticks .min-tick {
  width: 240px;
  height: 2px;
}

#clock-ticks div:nth-of-type(2) {transform: rotate(90deg);}
#clock-ticks div:nth-of-type(3) {transform: rotate(45deg);}
#clock-ticks div:nth-of-type(4) {transform: rotate(-45deg);}
#clock-ticks div:nth-of-type(5) {transform: rotate(15deg);}
#clock-ticks div:nth-of-type(6) {transform: rotate(30deg);}
#clock-ticks div:nth-of-type(7) {transform: rotate(-15deg);}
#clock-ticks div:nth-of-type(8) {transform: rotate(-30deg);}
#clock-ticks div:nth-of-type(9) {transform: rotate(60deg);}
#clock-ticks div:nth-of-type(10) {transform: rotate(75deg);}
#clock-ticks div:nth-of-type(11) {transform: rotate(-60deg);}
#clock-ticks div:nth-of-type(12) {transform: rotate(-75deg);}

#clock-display {
  width: 230px;
  height: 230px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fall);
  z-index: 2;
}

body {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
}

#time-announcement {
  font-size: 16px;
  height: 25px;
}

#task-announcement {
  width: 180px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

#sun-moon-lever {
  width: 160px;
  height: 20px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  transform-origin: right center;
  transform: translateX(-80px) rotate(calc(var(--rotation)*1deg));
  z-index: 3;
}

#sun-moon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--sun);
  transition: background-color 5s;
}

header , #hourly-table-button-section {
  width: 100%;
  height: 50px;
  align-self: flex-start;
  grid-row: 1/-1;
  grid-column: 1/-1;
  margin: 0 auto 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

input,textarea {
  margin: 0 5px 0;
  outline: none;
  border: none;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  color: white;
  background-color: rgba(255,255,255,0);
}

input::placeholder {
  color: rgba(250,250,250,.9);
  font-family: 'Roboto',sans-serif;
}

#hourly-table {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color:var(--fall);
  z-index: 3;
  transform: translateY(-100vh);
  transition: transform 1s ease-in-out;
}

#hourly-table-form {
  margin: 10px 0 0;
}

.table-item-section {
  width: 95%;
  max-width: 500px;
  margin: 0 auto 5px;
  display: flex;
  color: white;
}

.table-hour {
  width: 40px;
  height: 20px;
  padding: 4px 0px 0px;
  font-weight: 100;
  font-size: 14px;
}

.table-item-section input {
  width: 450px;
  height: 22px;
  padding-left: 5px;
  margin-left: 10px;
  border: 1px solid white;
}

#button-hourly-table-open , #button-hourly-table-close {
  width: 25px;
  height: 25px;
  margin: 20px auto 20px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  color: white;
  background-color: rgba(250,250,250,.25);
}

#mnt-range {
  position: absolute;
  bottom: 0%;
  left: 0%;
  opacity: 0;
}

#mnt-range-w {
  position: absolute;
  bottom: 0%;
  left: 0%;
  opacity: 0;
}

/* spring */

#stargazer {
  position: absolute;
  bottom: 0%;
  right: 40%;
  opacity: 0;
}

#sunflower {
  position: absolute;
  bottom: 0%;
  right: 25%;
  opacity: 0;
}

#clover {
  position: absolute;
  bottom: 0%;
  right: 15%;
  opacity: 0;
}

#df1,#df2,#df3,#df4,#df5 {
  display: none;
}

/* summer */

#beach {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  overflow: hidden;
}

#sand {
  width: 120%;
  height: 80px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-self: center;
  align-self: flex-end;
  border-radius: 50% 50% 0 0;
  background-color: #E4C9A0;
}

/* fall */

#leaf-1 {
  position: absolute;
  top: 5%;
  left: 10%;
  opacity: 0;
}

#leaf-2 {
  position: absolute;
  top: 15%;
  right: 15%;
  opacity: 0;
}

#leaf-3 {
  position: absolute;
  bottom: 25%;
  right: 5%;
  opacity: 0;
}

#leaf-4 {
  position: absolute;
  bottom: 20%;
  right: 10%;
  opacity: 0;
}

#leaf-5 {
  position: absolute;
  bottom: 14%;
  right: 5%;
  opacity: 0;
}

/* winter */

#snowball-1 {
  position: absolute;
  top: 10%;
  right: 20%;
  opacity: 0;
}

#snowball-2 {
  position: absolute;
  top: 20%;
  right: 35%;
  opacity: 0;
}

#snowball-3 {
  position: absolute;
  top: 30%;
  left: 20%;
  opacity: 0;
}

#snowball-4 {
  position: absolute;
  bottom: 20%;
  left: 40%;
  opacity: 0;
}

#snowball-5 {
  position: absolute;
  bottom: 5%;
  right: 15%;
  opacity: 0;
}

#snowflake-1 {
  position: absolute;
  top: 5%;
  left: 20%;
  opacity: 0;
}

#snowflake-2 {
  position: absolute;
  bottom: 18%;
  right: 22%;
  opacity: 0;
}

/* #mtn-1 {
  position: absolute;
  bottom: 10%;
  left: 0%;
  fill: #804000;
}

#mtn-2 {
  position: absolute;
  bottom: 2%;
  left: 12%;
}

#mtn-3 {
  position: absolute;
  bottom: 0%;
  left: 2%;
}

#mtn-w-1 {
  position: absolute;
  bottom: 4.5%;
  left: 0%;
  opacity: 0;
}

#mtn-w-2 {
  position: absolute;
  bottom: 0%;
  left: 11.7%;
  opacity: 0;
}

#mtn-w-3 {
  position: absolute;
  bottom: 0%;
  left: 1.6%;
  opacity: 0;
} */