html,body,header,main,section,div {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(200,100,0);
}

header,footer {
  width: 100vw;
  height: calc(50vh - 175px);
}

main {
  width: 100vw;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

#clock-ticks {
  width: 100%;
  height: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  z-index: 1;
}

#clock-ticks div {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: white;
}

#clock-ticks .main-tick {
  width: 260px;
  height: 2px;
}

#clock-ticks .mid-tick {
  width: 250px;
  height: 2px;
}

#clock-ticks .min-tick {
  width: 240px;
  height: 2px;
}

#clock-ticks div:nth-of-type(2) {transform: rotate(90deg);}
#clock-ticks div:nth-of-type(3) {transform: rotate(45deg);}
#clock-ticks div:nth-of-type(4) {transform: rotate(-45deg);}
#clock-ticks div:nth-of-type(5) {transform: rotate(15deg);}
#clock-ticks div:nth-of-type(6) {transform: rotate(30deg);}
#clock-ticks div:nth-of-type(7) {transform: rotate(-15deg);}
#clock-ticks div:nth-of-type(8) {transform: rotate(-30deg);}
#clock-ticks div:nth-of-type(9) {transform: rotate(60deg);}
#clock-ticks div:nth-of-type(10) {transform: rotate(75deg);}
#clock-ticks div:nth-of-type(11) {transform: rotate(-60deg);}
#clock-ticks div:nth-of-type(12) {transform: rotate(-75deg);}

#clock-display {
  width: 230px;
  height: 230px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(200,100,0);
  z-index: 2;
}

#time-announcement,#task-announcement {
  font-family: 'Roboto',sans-serif;
}

#time-announcement {
  font-size: 16px;
  height: 25px;
}

#task-announcement {
  width: 180px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

#sun-moon-lever {
  width: 160px;
  height: 20px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  transform-origin: right center;
  transform: translateX(-80px) rotate(calc(var(--rotation)*1deg));
  z-index: 3;
}

#sun-moon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  transition: background-color 5s;
}